<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logmaster.mapper.master.UserMapper">

    <select id="getUserList" resultType="com.logmaster.domain.model.User">
        SELECT
        id,
        name,
        mail,
        permission,
        phone,
        create_time,
        update_time
        FROM
        user
        ORDER BY create_time DESC
        LIMIT ${page.startNum}, ${page.size};
    </select>

    <select id="getUserNums" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        user
    </select>

    <select id="getUserById" resultType="com.logmaster.domain.model.User">
        SELECT
        id,
        `name` as name,
        mail,
        permission,
        create_time,
        update_time
        FROM user
        where id = #{id}
    </select>

    <select id="getLoginId" resultType="java.lang.Integer">
        SELECT
            id
        FROM user
        where mail = #{mail} AND password = #{password}
    </select>
</mapper>