<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logmaster.mapper.slave.QueryMapper">

    <select id="addCount1" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT `name`) FROM raw_event_enter WHERE TO_DAYS( NOW( ) ) - TO_DAYS( `client_time` ) <![CDATA[ <= ]]> 1
    </select>
</mapper>